.CardsHeader{
    display: flex;
    width: 90%;
    flex-direction: column;

}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container > span{
    color: #b9b9b9;
    font-size: 1.2rem;
    
}
.wrapper{
    display: flex;
    align-items: center;
}

.wrapper img{
    margin-left: 40px;
}

.wrapper span{
    color: #ff1510;
    font-size: 1rem;
    margin-left: 40px;
}

.cards-container{
    margin-top: 40px ;
    border: 1px solid red;
    display: flex;
    height: 1000px;
    
    flex-wrap: wrap;
    
}
.card{
    max-width: 150px;
    max-height: 200px;
}

.image{
    width: 150px;
    height: 150px;
    background-color: grey;
}

.card h1{
    font-size: 20px ;
}